<div class="lc-doc-method">
	<code>
	{{name}}({{foreach parameters param}}{{if paramIndex &gt; 0}}, {{endif}}{{param.name}}{{endforeach}})
	</code>
	
	{{if description}}
	<div class="lc-doc-description">
		<h1>Description</h1>
		<div>
		{{description}}
		</div>
	</div>
	{{endif}}
	
	{{if parameters.length > 0}}
	<div class="lc-doc-parameters">
		<h1>Parameters</h1>
		<table>
			<tr><th>Name</th><th>Type</th><th>Description</th></tr>
			{{foreach parameters param}}
			<tr>
				<td>{{param.name}}</td>
				<td>{{param.type}}</td>
				<td>{{param.description}}</td>
			</tr>
			{{endforeach}}
		</table>
	</div>
	{{endif}}
	
	{{if returns}}
	<div class="lc-doc-returns">
		<h1>Return</h1>
		<div>
			Type: {{returns.type}}
		</div>
		<div>
			{{returns.description}}
		</div>
	</div>
	{{endif}}
</div>