<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../content.css"/>
</head>
<body class="lc-doc-content lc-doc-method">
{{$filter content c parameters c.elementType == 'parameter'}}
{{$filter content c returns c.elementType == 'return'}}

{{$if typeof description == 'string' &amp;&amp; description.length > 0}}
<div class="lc-doc-description">
	<h1>Description</h1>
	<div>
	{{description}}
	</div>
</div>
{{endif}}

<h1>Syntax</h1>
	
<pre><code>{{name}}({{$foreach parameters param}}{{$if paramIndex &gt; 0}}, {{endif}}{{param.name}}{{endforeach}})</code></pre>
	
{{$if parameters.length > 0}}
<h2>Parameters</h2>

{{$foreach parameters param}}
<div class="lc-doc-parameter">
	<div class="lc-doc-parameter-name">
		{{param.name}}
	</div>
	{{$if typeof param.type == 'string'}}
	<div class="lc-doc-parameter-type">
		{{param.type}}
	</div>
	{{endif}}
	{{$if typeof param.description == 'string'}}
	<div class="lc-doc-parameter-description">
		{{param.description}}
	</div>
	{{endif}}
</div>
{{endforeach}}
{{endif}}

{{$if returns.length > 0}}
<h2>Return</h2>

<div class="lc-doc-return-type">
	{{returns[0].type}}
</div>
<div class="lc-doc-return-description">
	{{?returns[0].description}}
</div>
{{endif}}
</body>
</html>