<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../content.css"/>
</head>
<body class="lc-doc-content lc-doc-namespace">
{{$filter children c methods c.elementType == 'method'}}
{{$filter children child classes child.elementType == 'class'}}

<h1>{{fullpath}}</h1>

{{?description}}

{{$if methods.length &gt; 0}}
<div>
	<h1>Methods</h1>
	<table>
		<tr><th>Method</th><th>Description</th>
		{{$foreach methods m}}
		<tr>
			<td>{{m.name}}</td>
			<td>{{?m.description}}</td>
		</tr>
		{{endforeach}}
	</table>
</div>
{{endif}}

{{$if classes.length &gt; 0}}
<div class="lc-doc-classes">
	<h1>Classes</h1>
	
	{{$foreach classes c}}
		<div class="lc-doc-classname">
			<a href="{{c.fullpath}}.html">{{c.name}}</a>
		</div>
		{{$if typeof c.description == 'string' &amp;&amp; c.description.length > 0}}
			<div class="lc-doc-class-description">
				{{$first-sentence c.description}}
			</div>
		{{endif}}
	{{endforeach}}
</div>
{{endif}}
</body>
</html>